*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* ******************************* start style of body ******************************* */
body
{
    padding: 0;
    margin: 0;
    background: black
}
/* ******************************* end style of body ******************************* */

/* ******************************* start style of nav ******************************* */
nav
{
    background: #333;
    height: 36px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

label ul
{
    margin: 0;
    width: 100%;
    display: none
}
 
label ul li
{
    height: 100%;
    padding: 9px;
    display: inline-block
}
nav > a 
{
    background: #444;
    display: inline-block;
    height: 100%;
    padding: 9px;
    text-decoration: none;
    color: black
}

nav  li:hover{
    background: #555;
}
 
label input{display: none}
label
{
    height: 100%;
    position: relative;
    margin-right: 1px;
    float: right;
}
label span
{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width: 60px;
    cursor: pointer;
    background: #9e9c9c;
    display: none;
    
}

label span:before
{
    position: absolute;
    content: "";
    width: 20px;
    height: 26px;
    bottom: 5px;
    left: 5px;
    background: #fff
}
label input:checked + span{
    background: #03337b;
}
label input:checked + span:before{
    transform: translateX(30px)
}
/* ******************************* end style of nav ******************************* */

/* ******************************* start style of header ******************************* */
header
{
    background-image: url(../images/kurama.jpg);
    height: 1000px;
    background-size: 100% 100%;
}
header aside
{
    top: 50px;
    position: fixed
}
header aside a{
    display: block;
    position: relative;
    width: 100px;
    background: #fc600a;
    color: black;
    margin-top: 3px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    left: -80%;
    transition: all 1s ease-in-out
}
header aside a:hover{left: 0}

header article img
{
    display: none;
    height: 700px;
    margin: auto;
    width: 400px;
    margin-left: 30%;
    margin-top: 100px
}

@media (min-width:1000px){
    
    .one
    {
        display: inline;
        
    }
    
    label ul
    {
        display: inline;
    }
    
}

@media (min-width:600px)AND (max-width:1000px){
    
    .two
    {
        display: inline
    }
    
    label ul{
        display: inline;
    }
}
@media (min-width:100px) AND (max-width:600px){
    
    .three
    {
        display: inline;
        margin-left: 10%
    }
    label
    {
        width: 60px;
    }
    
    label span{
        display: inline-block;
        z-index: 10
    }
   
    label input:checked ~ ul{
        display:inline;
        position: absolute;
        width: 200px;
        right: 1%;
        background: #883505;
        top:35px;
        padding: 0;
        margin: 0;
        text-align: center
    }
    ul li{
        width: 100%;
    }
    ul li:hover{
        
        background: #6f2b04
    }
}
/* ******************************* end style of header ******************************* */

/* ******************************* start style of anima ******************************* */
.anima
{
    content: url(../images/fanc4.png);
    margin: auto;
    position: relative;
    top: 100px;
    
}
.anima:hover
    {
        animation: rot .3s infinite ;
    }

 @keyframes rot{
        
        0%
        {
            content: url(../images/fanc3.png);
            transform: rotate(0deg)
        }
        10%
        {
            content: url(../images/fanc4.png);
            transform: rotate(36deg)
        }
        20%
        {
           content: url(../images/fanc2.png);
            transform: rotate(72deg) 
        }
        30%
        {
            content: url(../images/fanc4.png);
            transform: rotate(108deg)
        }
        40%
        {
            content: url(../images/fanc2.png);
            transform: rotate(144deg)
        }
     50%
        {
            content: url(../images/fanc3.png);
            transform: rotate(180deg)
        }
     60%
        {
            content: url(../images/fanc4.png);
            transform: rotate(216deg)
        }
     70%
        {
            content: url(../images/fanc2.png);
            transform: rotate(252deg)
        }
     80%
        {
            content: url(../images/fanc3.png);
            transform: rotate(288deg)
        }
     90%
        {
            content: url(../images/fanc4.png);
            transform: rotate(324deg)
        }
     100%
        {
            content: url(../images/fanc2.png);
            transform: rotate(360deg)
        }
    }
/* ******************************* end style of anima ******************************* */

/* ******************************* start style of deth ******************************* */
@font-face
{
    font-family: "Death";
    src: url(../css/Death_Note_Font_by_Karlibell22.ttf)  
}
.death{
    color: white;
    margin: 150px auto;
    text-align: center;
    font-family: Death;
    
}
/* ******************************* end style of deth ******************************* */













